<div class="author">
    <h1 class="author__heading">Hi, I'm Hammad.</h1>
    <p class="author__body">Web Developer and Bodybuilder.</p>
</div>

<img src="https://images.unsplash.com/photo-1454789548928-9efd52dc4031?q=80&w=1480&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="space" class="hero-image" width="981" height="528">

<section class="articles">
    <h2 class="articles__heading">
        Latest Posts
    </h2>
    <ul class="article-ul">

        <% data.forEach(post => { %>
         
        
        <li>
            <a href="/post/<%= post._id %>">
            <span><%= post.title %></span>
            <span class="article-list__date"> <%= post.createdAt.toDateString() %></span>
        </a>
        </li>
        <% }) %>
       
    </ul>
    
    <% if (nextPage !== null ) { %>
        <a href="/?page=<%= nextPage %>" class="pagination">&lt; View older posts</a>

    <% } %>
</section>
